/* desktop approach */
*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --big-box-bg:#FFF2C5;
  --small-box-bg:#F0D0AA;
  --Montserrat-font:'Montserrat', sans-serif;
  --Zen-font:'Zen Old Mincho', serif;


}
body{
  font-family: 'Zen Old Mincho', serif;
  letter-spacing: 1px;
}
/* every H1 tag */
h3{
  font-weight: 700;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;

  display: flex;
  flex-direction: column;
}
/* nav section */
.nav{
  padding:30px 4rem;
  display: flex;
  justify-content: space-between;
}
/* mobile screens */
@media screen and (max-width:700px) {
 
  .notColored,.colored{
  font-size: 9px;
  }
  .nav-list{
   display: none;
  }
  .nav{
    display: flex;
    justify-content: space-between;
 
  }
  .second-container{
    z-index: 1;
    width: 100%;
    height: 100%;
  
  }
  .second-container section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
  }
  /* header top one */
  #illustration{
    width: 200px;
   
  }
  .text{
    text-align: center;
  }
  .text h2{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .text p{
    font-size: 10px;
   
  }
  .bg-center{
    display: none;
  }
  .quick-links-wrap{
  display: none;
  }
  .grid-projects{
    display: block;
  }

}


/* end of mobile view */

h3 .colored{
  color: var(--small-box-bg);
  display: block;
  font-size: 12px;
}
h3 .notColored::after{
 content: '/>';
 color: var(--small-box-bg);
}
/* socials */
.socials{
  display: flex;
  gap:33px;
  font-size: 10px;
  position: relative;
  top: 10px;
  z-index: 100;
}
/* nav list */
a{
  text-decoration: none;
  color: black;
}
.socials a:hover{
  transform: scale(1.1);
}
ul{
  display: flex;
  gap: 30px;
}
li{
  list-style: none;
  padding: 2px;
  cursor: pointer;
}
li:hover,.hovered:hover{
  border: 1px dashed black ;
  color: white;
  transition: 1s all;
 
}

/* second container */
.text{
  width: 400px;
  display: flex;
  z-index: 2;
  position: relative;

  top: 2.5rem;
  flex-direction: column;
  gap: 10px;
}
.text h2, .socials{
  font-family: 'Montserrat', sans-serif; 
}
.text p span{
color: rgb(48, 48, 186);
}

.second-container section{
  display: flex;
  justify-content: center;
}
.second-container{
  overflow-y: hidden;
 background-color: var(--big-box-bg);
 width: calc(100% - 9%);
 margin-left: 9%;
 height: 100vh;
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 filter: drop-shadow(-3px ,-3px 0px black);
}

.bg-center{
  position: relative;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  left: 50px;
  top: 1rem;
  z-index: 1;
  background-color: var(--small-box-bg);
}

.learn-more{
  border-bottom: 2px solid black ;
  width: fit-content;
  cursor: pointer;
  transform: scale(1);
 
}
.learn-more:hover{
border-bottom: 1px solid rgb(91, 134, 214);
transform: scale(1.1);
}

#illustration{
width: 300px;
position: relative;
top: 2.5rem;

}
.quick-links-wrap{
  width:calc(100% - 30%);
  height: 100px;
  background-color: white;
  display: flex;
  position: relative;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
  gap: 15rem;

}

.quick-links-wrap > div:hover{
  transform: scale(1.09);
  cursor: pointer;
}

/* projects */

.grid-projects{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  align-items: center;
  gap:30px;

}
.grid-projects > div{
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-family: var(--Montserrat-font);
  line-height: 1.5;
  box-shadow: 0.5px 0.5px 2px 0px  black;
}
.project-1{
  background:url(asset/manage-landing-page.png);
}
.project-1 , .project-2{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  box-shadow: 2px 0px 3px 0px  black;
}

.project-2{
  background: url(asset/twitter-nemorphic-Login-page.png);
  order: 2;
  background-size: cover;
  background-position: center;
  width: 100%;
  box-shadow: 2px 0px 3px 0px  black;
}
.project-1:hover,.project-2:hover{
  transform: scale(1.03);
}
.description{
  padding: 1.5rem 30px;
  display: flex;
 flex-direction: column;
 justify-content: space-between;

}


.btn{
  padding: 10px;
  margin-left: 10px;
  border-style: dashed;
  border: 1px solid black ;
  border-radius: 6px 0;;
  background: transparent;
  cursor: pointer;
  
}
.btn:hover{
 background-color:var(--big-box-bg);
 color: white;
 border:none ;
 box-shadow: 1px 0px 5px 0px var(--small-box-bg);
 transform: scale(1.1);

}
.section-2 h2{
  text-align: center;
 
}
/* tools section */
.section-3{
  background-color: #fafafa;
  display: flex;
  justify-content: column;
  gap: 40px;
  padding:  3rem;
  text-align: center;
  
}

.section-3 h2{
  padding:0  2rem;
  padding-bottom: 30px;

  position: relative;
 
}
.section-3 h2::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 3px ;
  background-color: var(--small-box-bg);
  left: 50%;

}
.more-about-me span{
  background-color: var(--small-box-bg);
  font-size: 1.3rem;
  color: rgb(70, 20, 20);
}

.tools{
  width: 100vw;
  height: 50vh;
}
.tools-icons{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-row-gap:30px;
  
}
.tools-icons img:nth-child(5){
  margin-top: 3rem;
}
.tools-icons img:nth-child(3){
  transform: scale(2);
}

.tools-icons img{
  width: 90px;
  height: 90px;
}
/* footer */
footer{
  background-color: #1d1d1d;
  color: white;
  height: 60vh;
  padding: 1rem 4rem;
}
.footer-misc div p:nth-child(1){
  color: rgb(91, 90, 90);
}
.footer-misc a{
  color: white;
}
.footer-misc{
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 


}
.final-flex{
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;



}
.final-flex .one{
  color: rgb(91, 90, 90);
}

.fast-get-to{
  background-color: white;
  padding:0.5rem 1rem;
  border-radius: 20px;
}
.fast-get-to button{
  border: none;
  background-color: transparent;
  padding: 10px;
}
.fast-get-to button:nth-child(1){
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.fast-get-to button:hover{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.final-flex img{
  width: 400px;
 margin-top: -4rem;
}

